
services:
  db:
    container_name: postgres_container
    image: postgres:14.17
    environment:
       POSTGRES_DB: marketdata
       POSTGRES_USER: roberto
       POSTGRES_PASSWORD: password
    ports:
      - 5000:5432
    volumes:
      - ./postgres/data:/var/lib/postgres/data
      - ./postgres/airflow_setup.sql:/docker-entrypoint-initdb.d/airflow_setup.sql 
    networks:
      - my-network


  airflow:
    container_name: airflow_container
    image: apache/airflow:3.0.0
    ports:
      - 8000:8080
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://roberto:password@db:5432/marketdata
      PYTHONPATH: /opt/airflow
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logcs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - db
    command: bash -c
      "airflow db migrate && airflow standalone"
    networks:
      - my-network

  dbt:
    container_name: dbt_container
    image: ghcr.io/dbt-labs/dbt-postgres:1.9.latest
    volumes:
      - ./dbt/my_project:/usr/app
      - ./dbt:/root/.dbt
    working_dir: '/usr/app'
    environment:
       DBT_PROFILES_DIR: "/root/.dbt"
    depends_on:
      - db
    command: run
    networks: 
      - my-network

networks:
  my-network:
    driver: bridge